# === Power BI ===
*.pbix
!*.pbit

# === Python & Credentials ===
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
.venv/
env/
venv/

# === Uniconta / API Metadata ===
available_tables.json

# === OS & IDE ===
.vscode/
.history/
.idea/
Thumbs.db
.DS_Store

# === Exceptions. These will never be blocked ===
!*.m
!requirements.txt
!*.py
